
<div class="container">
    <div class="row">
    <div class="col-md-6">
      <h1>Students</h1></br>
      <% User.all.each do |user| %>
        <% if user.admin != true %>
          <div class="user-container">
            <div class="user-list">
              <div class="user-avatar">
                <p><%= image_tag user.avatar %></p>
              </div>
              <div class= "user-data">
                <h4><%= user.name %></h4>
                <p>Email: <%= user.email %></p>
              </div>
            </div>
            <%= link_to "Promote", users_path, method: :promote, data: { confirm: "Sorry, currently under maintenance" },  class: "btn btn-danger promote" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1>Staff</h1></br>
      <% User.all.each do |user| %>
          <% if user.admin == true %>
          <div class="user-container">
          <div class="user-list">
            <div class="user-avatar">
              <p><%= image_tag user.avatar %></p>
            </div>
            <div class= "user-data">
              <h4><%= user.name %></h4>
              <p>Email: <%= user.email %></p>
            </div>
          </div>
          <button type="button" class="btn btn-danger promote">Demote</button>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
