<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Students</h1></br>
      <% User.all.each do |user| %>
        <% if user.admin != true %>
          <div class="user-container">
            <div class="user-list">
              <div class="user-avatar">
                <p><%= image_tag user.avatar %></p>
              </div>
              <div class= "user-data">
                <h4><%= user.name %></h4>
                <p>Email: <%= user.email %></p>
              </div>
            </div>
            <% if user.admin? %>
            <%= radio_button 'user', 'admin', "1" %>
            <%= radio_button 'user', 'admin', "0" %>
              <!-- <%= form_for user do |f| %>
                <%= f.hidden_field :admin, value: false %>
                <%= f.submit 'Demote' %> -->
              <% end %>
            <% else %>
              <!-- <%= form_for user do |f| %>
                <%= f.hidden_field :admin, value: true %>
                <%= f.submit 'Promote' %> -->
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1>Staff</h1></br>
      <% User.all.each do |user| %>
          <% if user.admin == true %>
          <div class="user-container">
          <div class="user-list">
            <div class="user-avatar">
              <p><%= image_tag user.avatar %></p>
            </div>
            <div class= "user-data">
              <h4><%= user.name %></h4>
              <p>Email: <%= user.email %></p>
            </div>
          </div>
          <% if user.admin? %>
            <!-- <%= form_for user do |f| %>
              <%= f.hidden_field :admin, value: false %>
              <%= f.submit 'Demote' %> -->
            <% end %>
          <% else %>
            <!-- <%= form_for user do |f| %>
              <%= f.hidden_field :admin, value: true %>
              <%= f.submit 'Promote' %> -->
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
