<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>All students</h1></br>
      <% @users.each do |user| %>
        <% if current_user.admin == false %>
          <p>Name: <%= user.name %> Email: <%= user.email %> Admin: <%= user.admin %> <%= link_to " Promote" %></p>
        <% end %>
      <% end %>
      <h1>All Staff</h1></br>
      <% @users.each do |user| %>
        <% if current_user.admin == true %>
          <p>Name: <%= user.name %> Email: <%= user.email %> Admin: <%= user.admin %> <%= link_to " Promote" %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
