<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if !user_signed_in? %>
      <p>Please log in</p>
      <% else %>
        <% if current_user.admin == true %>
          <%= render 'admins/user_list' %>
          <%= render 'admins/new_matches' %>
          <%= render 'admins/past_matches' %>
        <% else %>
          <%= render 'students/user_list' %>
          <%= render 'students/new_matches' %>
          <%= render 'students/past_matches' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
